.welcomeContainer {
  padding: 0.625rem 1.25rem;
}

.title {
  text-align: center;
  margin-top: 9.375rem;
  font-size: 2.5rem;
}

.subTitle {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.content {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
}

.input {
  flex: 1;
  padding: 0.625rem 0.75rem;
  border-radius: 3px 0 0 3px;
  border: solid 1px grey;
  border-right: none;
  box-shadow: none;
  outline: none;
}

.input:focus {
  border-color: #830051;
}

.button {
  height: 100%;
  outline: none;
  text-decoration: none;
  text-align: center;
  line-height: normal;
  font-size: 1rem;
  font-weight: 400;
  border-style: solid;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  letter-spacing: 0.5px;
  border-radius: 0 3px 3px 0;
  border-width: 1px;
  background-color: #830051;
  border-color: #830051;
  color: white;
}

.button:disabled {
  opacity: 0.4;
}
