.inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  width: 18.75rem;
}

.inputs input {
  margin-left: 0.5rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
}
